@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Onest";
}

body {
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(90deg, #7C2F2F 0%, #A0595A 100%);
    color: #F9F9F9;

    padding-bottom: env(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}


.betaAlert {
  width: 100%;
  background-color: #000000;
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: #FC0;
  display: flex;
  justify-content: center;
  text-align: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
}

/* cards */
.card {
    background: rgba(28, 28, 28, 0.60);
    box-shadow: 0 4px 16px 0 rgba(80, 80, 80, 0.25);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);

    padding: 32px;
    border-radius: 2.5rem;
    max-width: 40rem;
    width: 95dvw;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1.5rem;
}

.cardTitle {
    font-size: 2.2rem;
}


/* buttons */

.btnRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.largeBtn {
    display: flex;
    padding: 1.5rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.75rem;
    border: none;
    min-width: 6rem;
    font-weight: bold;
    font-size: 1.1rem;
}
