@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Onest";
}

body {
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(0deg, #0F5850 0%, #385643 100%);
    color: #F9F9F9;

    padding-bottom: env(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.navContainer {
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 100dvw;
    height: 6rem;

    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.486) 0%, rgba(51, 51, 51, 0.00) 100%);
}

.nav {
    max-width: 50dvw;
    height: fit-content;
    background-color: #00000071;
    border: 0.125rem solid #41414152;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    padding: 1.2rem 2rem;
    border-radius: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #FC0;
    text-align: center;
}

/* cards */
.card {
    background: rgba(28, 28, 28, 0.60);
    box-shadow: 0 4px 16px 0 rgba(80, 80, 80, 0.25);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);

    padding: 2rem 1.6rem;
    border-radius: 2.5rem;
    max-width: 40rem;
    width: 95dvw;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0.8rem;
}

.cardMedium {
    background: rgba(28, 28, 28, 0.60);
    box-shadow: 0 4px 16px 0 rgba(80, 80, 80, 0.25);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);

    padding: 2rem 1.6rem;
    border-radius: 2.5rem;
    width: 10rem;
    height: 12rem;
}

.cardTitle {
    font-size: 1.8rem;
}


/* buttons */

.btnRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.largeBtn {
    display: flex;
    padding: 1.2rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.6rem;
    border: none;
    min-width: 6rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #181818;
}