.financeMainCard{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.progress {
  width: 100%;             
  background-color: #DEF8E5;     
  overflow: hidden;         
  height: 4.5rem;      
border-radius: 1.75rem;       
}

.progressBar {
  height: 100%;
  width: 60%;    
  /* border-radius: 0 0.5rem 0.5rem 0;  */
  border-right: 0.3rem solid black;         
  transition: width 0.5s ease; 
}

/* .progressBar {
  animation: loading 8s infinite;
}

@keyframes loading {
  0% { width: 0; }
  100% { width: 100%; }
} */
